html *{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	padding: 16px;
}
h1 {
	text-transform: uppercase;
	font-size: 36px;
	text-align: center;
	color: #332B37;
	margin: 0px;
	padding: 4px;
}
h2 {
	margin: 0px;
	padding: 4px;
	color: #7E8086;
	text-align: center;
}
h3 {
	margin: 0px;
	text-transform: uppercase;
	font-weight: bold;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
#main-container {
	padding: 16px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}
.link-container {
	flex-grow: 0;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	width: 480px;
	text-decoration: none;
	transition: 0.3s;
	background-color: #151515;
	position: relative;
}
.link-container:hover{
	transition: 0.3s;
	transform: scale(1.05);
}
.link-container .overlay{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background-image: url("./glow.png");
	background-position-y: 0px;
	background-position-x: -480px; 
	background-size: auto 100%;
	background-repeat: no-repeat;
	transition: 0.35s ease-in-out;
}
.link-container:hover .overlay{
	transition: 0.45s ease-in-out;
	background-position-x: 100%;
	box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 8px 0px inset;
}
.info {
	padding: 12px;
	color: #FFF;
}
.description {
	margin: 0px;
	padding: 8px 0px 3px 0px;
	font-size: 12px;
}
